{% extends 'layout.html' %}

{% block content %}
<!-- Start Preloader -->
<div class="preloader">
    <div class="preloader-wave"></div>
</div>
<!-- End Preloader -->

<!-- Home Slider -->
<div class="home-slider">
    <div class="slider-area owl-carousel owl-theme">
        <div class="slider-item slider-bg1">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="slider-text">
                            <h1>Conoce nuestros cursos</h1>
                            <p>
                                Lorem, ipsum dolor sit amet consectetur adipisicing elit. Est culpa, illum aliquam, dignissimos ab reprehenderit libero voluptate facere autem accusamus atque, sit perspiciatis explicabo doloremque ullam rerum voluptatum dolore? Accusamus?
                            </p>

                            <div class="slider-btn">
                                <a href="#" class="default-btn1">Ver mas</a>
                                <a href="#" class="default-btn2 ml-20">Contactenos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item slider-bg2">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="slider-text">
                            <h1>Eventos deportivos</h1>
                            <p>
                                Here is actually no correlation between swimming and scuba diving. Swimming is the act of keeping ourselves
                                above the water. As scuba diving is done under the water than technically we don't need to know how to swim.
                            </p>

                            <div class="slider-btn">
                                <a href="#" class="default-btn1">Convocatoria</a>
                                <a href="#" class="default-btn2 ml-20">Resultados</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item slider-bg3">
            <div class="d-table">
                <div class="d-table-cell">
                    <div class="container">
                        <div class="slider-text">
                            <h1>Nuestros deportistas</h1>
                            <p>
                                Here is actually no correlation between swimming and scuba diving. Swimming is the act of keeping ourselves
                                above the water. As scuba diving is done under the water than technically we don't need to know how to swim.
                            </p>

                            <div class="slider-btn">
                                <a href="#" class="default-btn1">Ver mas</a>
                                <a href="#" class="default-btn2 ml-20">Contactanos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Home Slider End -->

<!-- Brand Area End -->
<div class="brand-area pt-100">
    <div class="container">
        <div class="brand-slider owl-carousel owl-theme">
            <div class="brand-item">
                <a href="#">
                    <img src="https://cdn.freebiesupply.com/logos/thumbs/2x/arena-6-logo.png" alt="Brand Images">
                </a>
            </div>
            <div class="brand-item">
                <a href="#">
                    <img src="https://fecna.com/wp-content/uploads/2018/09/Logo-Fecna-material-300x191.png.webp" alt="Brand Images">
                </a>
            </div>
            <div class="brand-item">
                <a href="#">
                    <img src="http://www.hidrogym.com/imagenes/hidrologo.png" alt="Brand Images">
                </a>
            </div>
            <div class="brand-item">
                <a href="#">
                    <img src="https://indervalle.gov.co/wp-content/uploads/2020/01/logo_indervalle_comp_ne.png" alt="Brand Images">
                </a>
            </div>
            <div class="brand-item">
                <a href="#">
                    <img src="https://www.canalcalitv.com/wp-content/uploads/2017/08/LogoCompuesto_SecCultura-01.png" alt="Brand Images">
                </a>
            </div>
        </div>
    </div>
</div>
<!-- Brand Area End -->

<!-- About Area -->
<div class="about-area pt-100 pb-70">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span>About Us</span>
                        <h2>Liga Vallecaucana de Natacion</h2>
                        <p>
                            Somos una institución sin ánimo de lucro que promueve la practica de la natación
                            a nivel recreativo y competitivo en el valle del Cauca
                        </p>
                    </div>

                    <div class="about-btn">
                        <a href="#" class="default-btn2">Ver mas</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="about-right">
                    <div class="play-area">
                        <a href="https://www.youtube.com/watch?v=EYOdyim_NY0" class="play-btn">
                            <i class="flaticon-play-button"></i>
                            Ver video
                        </a>
                    </div>

                    <div class="icon-shape-1">
                        <i class="flaticon-waves"></i>
                    </div>
                    <div class="icon-shape-2">
                        <i class="flaticon-waves"></i>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About Area End -->

<!-- Service Area -->
<section class="service-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center mb-50">
            <span>Nuestros servicios</span>
            <h2>Liga Vallecaucana de Natacion</h2>
        </div>

        <div class="service-item-area owl-carousel owl-theme">
            <div class="service-item">
                <a href="#" class="service-item-icon">
                    <i class="flaticon-teacher"> </i>
                </a>
                <a href="#" class="service-head">
                    <h3>Nuestros cursos</h3>
                </a>
                <p>
                    As sign what each derided to organizaasd tion. Remodelling
                    that, win word as have the proceeded lots subject

                </p>
            </div>

            <div class="service-item">
                <div class="justify-content-center text-center">
                <a href="#" class="service-item-icon">
                    <i class="flaticon-waves"></i>

                </a>
            </div>
                <a href="#" class="service-head">
                    <h3>ARENA</h3>
                </a>
                <p>
                    As sign what each derided to organizaasd tion. Remodelling
                    that, win word as have the proceeded lots subject
                </p>
            </div>

            <div class="service-item">
                <a href="#" class="service-item-icon">
                    <i class="flaticon-flipper"></i>
                </a>
                <a href="#" class="service-head">
                    <h3>Programa de HidroGym</h3>
                </a>
                <p>
                    As sign what each derided to organizaasd tion. Remodelling
                    that, win word as have the proceeded lots subject
                </p>
            </div>

            <div class="service-item">
                <a href="#" class="service-item-icon">
                    <i class="flaticon-swimming"></i>
                </a>
                <a href="#" class="service-head">
                    <h3>Gimnasio CAPF</h3>
                </a>
                <p>
                    As sign what each derided to organizaasd tion. Remodelling that,
                    win word as have the proceeded lots subject
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Service Area End -->

<!-- Apply Area -->
<div class="apply-area">
    <div class="container">
        <div class="apply-text">

            <h2>Conoce nuestra junta directiva 2022</h2>
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Commodi blanditiis quasi ipsa, repudiandae mollitia minus quos vero est ea, tempora quibusdam minima. Quis officia quisquam, iste facilis est magnam eos.
            </p>

            <div class="apply-btn">
                <a href="#" class="default-btn1">Ver mas</a>
                <a href="#" class="default-btn2 ml-20">Transparencia</a>
            </div>
        </div>
    </div>
</div>
<!-- Apply Area End -->

<!-- Course Area -->
<div class="course-area pt-100 pb-70">
    <div class="container-fluid m-0 p-0">
        <div class="row">
            <div class="col-lg-7 col-xxl-6">
                <div class="course-item">
                    <div class="course-text">
                        <span>Natacion</span>
                        <h2>Natacion para bebes</h2>
                        <p>
                            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugiat reiciendis sit quod aperiam laboriosam nihil! Modi accusantium nisi ducimus illum magnam cupiditate ullam. Obcaecati odio deserunt mollitia voluptatum consequatur! Amet.
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ad nemo quaerat fugiat laboriosam at doloremque consectetur. Nesciunt non excepturi, amet temporibus explicabo id quas doloribus dolor! Illum, nulla officia.
                        </p>
                        <div class="course-btn">
                            <a href="#" class="default-btn2">Take Course</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-5 col-xxl-6">
                <div class="course-img">
                    <img src="../static/img/course/7.jpeg" alt="Course Images">
                </div>
                <div class="course-dots">
                    <img src="../static/img/shape/dots-blue.png" alt="Dots Images">
                </div>
            </div>
        </div>

        <div class="course-another pt-70">
            <div class="row">
                <div class="col-lg-5 col-xxl-6">
                    <div class="course-img-2">
                        <img src="../static/img/course/8.jpeg" alt="Course Images">
                    </div>
                    <div class="course-dots-2">
                        <img src="../static/img/shape/dots-pink.png" alt="Dots Images">
                    </div>
                </div>

                <div class="col-lg-7 col-xxl-6">
                    <div class="course-item-2">
                        <div class="course-text">
                            <span>Natacion</span>
                            <h2>Natacion para niños</h2>
                            <p>
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit quibusdam alias dicta quia. Incidunt nemo quas natus in ex. Voluptate ab ratione qui praesentium fuga sit! Delectus sapiente harum ea!
                            </p>
                            <p>
                                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Veniam quo eum non suscipit excepturi! Illo dolor nemo, unde, cupiditate suscipit itaque quis iusto distinctio enim eius vel ipsam molestiae similique.
                            </p>
                            <div class="course-btn">
                                <a href="#" class="default-btn2">Take Course</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="icon-shape-3">
        <i class="flaticon-swimming"></i>
    </div>
    <div class="icon-shape-4">
        <i class="flaticon-diver"></i>
    </div>
</div>
<!-- Course Area End -->

<!-- Product Area -->
<section class="product-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center mb-50">
            <span>Nuestros cursos </span>
            <h2>Conoce nuestro catalogo</h2>
            <p>
                The introduced now, the they expect, animals the desk, and catch
                temple. More seven my couldn't it the character using recommended.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <a href="#">
                        <img src="../static/img/product/1.jpg" alt="Product Images">
                    </a>
                    <div class="product-cotent">
                        <div class="product-text">
                            <a href="#">
                                <h3>Curso para menores</h3>
                            </a>
                            <span>$35</span>
                        </div>
                        <a href="#" class="add-product">
                            <i class="flaticon-plus"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <a href="#">
                        <img src="../static/img/product/3.jpg" alt="Product Images">
                    </a>
                    <div class="product-cotent">
                        <div class="product-text">
                            <a href="#">
                                <h3>Programa para juveniles</h3>
                            </a>
                            <span>$30</span>
                        </div>
                        <a href="#" class="add-product">
                            <i class="flaticon-plus"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <a href="#">
                        <img src="../static/img/product/4.jpg" alt="Product Images">
                    </a>
                    <div class="product-cotent">
                        <div class="product-text">
                            <a href="#">
                                <h3>Curso adulto mayor</h3>
                            </a>
                            <span>$75</span>
                        </div>
                        <a href="#" class="add-product">
                            <i class="flaticon-plus"></i>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="product-item">
                    <a href="#">
                        <img src="../static/img/product/5.jpg" alt="Product Images">
                    </a>
                    <div class="product-cotent">
                        <div class="product-text">
                            <a href="#">
                                <h3>Curso para adultos</h3>
                            </a>
                            <span>$25</span>
                        </div>
                        <a href="#" class="add-product">
                            <i class="flaticon-plus"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Product Area End -->

<!-- Gallery Area -->
<section class="gallery-area pt-100 pb-70">
    <div class="container">
        <div class="section-title text-center mb-50">
            <span>Galeria</span>
            <h2>Incribles fotos de nuestros eventos y deportistas</h2>
            <p>
                The introduced now, the they expect, animals the desk, and catch
                temple. More seven my couldn't it the character using recommended.
            </p>
        </div>
        <div class="gallery-view">
            <div class="row">
                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="https://scontent.fvup1-1.fna.fbcdn.net/v/t39.30808-6/277674613_4997318530350862_5316790510522435144_n.jpg?_nc_cat=101&ccb=1-6&_nc_sid=0debeb&_nc_ohc=giSP2wqnrTYAX-QnMt3&_nc_ht=scontent.fvup1-1.fna&oh=00_AT80LRxX6YtPk1NAj7lgf8HblO85X566eZUSwgx04xvdmA&oe=628619D2">
                            <img src="https://scontent.fvup1-1.fna.fbcdn.net/v/t39.30808-6/277674613_4997318530350862_5316790510522435144_n.jpg?_nc_cat=101&ccb=1-6&_nc_sid=0debeb&_nc_ohc=giSP2wqnrTYAX-QnMt3&_nc_ht=scontent.fvup1-1.fna&oh=00_AT80LRxX6YtPk1NAj7lgf8HblO85X566eZUSwgx04xvdmA&oe=628619D2" alt="Gallery Images">
                        </a>
                        <div class="gallery-text">
                            <h3>Torneo internacional Ciudad de Cali</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="https://scontent.fvup1-1.fna.fbcdn.net/v/t39.30808-6/279863724_5085690688180312_8144195211384454034_n.jpg?_nc_cat=101&ccb=1-6&_nc_sid=730e14&_nc_ohc=aUadatQuAbUAX8qqEP2&_nc_ht=scontent.fvup1-1.fna&oh=00_AT9xHk5IH-Lvm1TLWKcOayChez_bDp0LBsuq9-Kuo91eHw&oe=62868F83">
                            <img src="https://scontent.fvup1-1.fna.fbcdn.net/v/t39.30808-6/279863724_5085690688180312_8144195211384454034_n.jpg?_nc_cat=101&ccb=1-6&_nc_sid=730e14&_nc_ohc=aUadatQuAbUAX8qqEP2&_nc_ht=scontent.fvup1-1.fna&oh=00_AT9xHk5IH-Lvm1TLWKcOayChez_bDp0LBsuq9-Kuo91eHw&oe=62868F83" alt="Gallery Images">
                        </a>
                        <div class="gallery-text">
                            <h3>Juegos nacionales intercolegiados 2021</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="https://scontent.fvup1-1.fna.fbcdn.net/v/t39.30808-6/280334008_5080156592067055_2794050012261176621_n.jpg?_nc_cat=106&ccb=1-6&_nc_sid=730e14&_nc_ohc=C3X8xs04LlYAX8sw1Fj&_nc_ht=scontent.fvup1-1.fna&oh=00_AT-m6-RACcGlnzRGCYavYDCq4rRW-DJp_72VFKKsWxNXxA&oe=62863871">
                            <img src="https://scontent.fvup1-1.fna.fbcdn.net/v/t39.30808-6/280334008_5080156592067055_2794050012261176621_n.jpg?_nc_cat=106&ccb=1-6&_nc_sid=730e14&_nc_ohc=C3X8xs04LlYAX8sw1Fj&_nc_ht=scontent.fvup1-1.fna&oh=00_AT-m6-RACcGlnzRGCYavYDCq4rRW-DJp_72VFKKsWxNXxA&oe=62863871" alt="Gallery Images">
                        </a>
                        <div class="gallery-text">
                            <h3>Natacion artistica campeon interligas</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="https://scontent.fvup1-1.fna.fbcdn.net/v/t39.30808-6/279412264_5066040640145317_484213462042711828_n.png?_nc_cat=108&ccb=1-6&_nc_sid=730e14&_nc_ohc=LFo7nWzapQ4AX88yZhl&_nc_ht=scontent.fvup1-1.fna&oh=00_AT8Z8CLzUAO8K8gSQ-Jb8CNqvSsCbldnHKAbaMxosOl29A&oe=6286BDE8">
                            <img src="https://scontent.fvup1-1.fna.fbcdn.net/v/t39.30808-6/279412264_5066040640145317_484213462042711828_n.png?_nc_cat=108&ccb=1-6&_nc_sid=730e14&_nc_ohc=LFo7nWzapQ4AX88yZhl&_nc_ht=scontent.fvup1-1.fna&oh=00_AT8Z8CLzUAO8K8gSQ-Jb8CNqvSsCbldnHKAbaMxosOl29A&oe=6286BDE8" alt="Gallery Images">
                        </a>
                        <div class="gallery-text">
                            <h3>Deportista clasificado al mundial de Budapest</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="https://scontent.fvup1-1.fna.fbcdn.net/v/t39.30808-6/279083566_5039107932838588_5867567453382529174_n.png?_nc_cat=104&ccb=1-6&_nc_sid=730e14&_nc_ohc=SbCrlttiBfcAX8a9Kk-&_nc_ht=scontent.fvup1-1.fna&oh=00_AT8qmksQb71_P2kxqygSHvvVvsgJKkSOcP7um94mzFm4bg&oe=62858C63">
                            <img src="https://scontent.fvup1-1.fna.fbcdn.net/v/t39.30808-6/279083566_5039107932838588_5867567453382529174_n.png?_nc_cat=104&ccb=1-6&_nc_sid=730e14&_nc_ohc=SbCrlttiBfcAX8a9Kk-&_nc_ht=scontent.fvup1-1.fna&oh=00_AT8qmksQb71_P2kxqygSHvvVvsgJKkSOcP7um94mzFm4bg&oe=62858C63" alt="Gallery Images">
                        </a>
                        <div class="gallery-text">
                            <h3>Mariana Osorio clasifica a Budapest</h3>
                        </div>
                    </div>
                </div>

                <div class="col-lg-4 col-sm-6">
                    <div class="gallery-item">
                        <a href="https://scontent.fvup1-1.fna.fbcdn.net/v/t39.30808-6/277520413_4981488815267167_4628313742853594829_n.png?_nc_cat=100&ccb=1-6&_nc_sid=730e14&_nc_ohc=LwDv27IAZykAX82uoIe&_nc_pt=1&_nc_ht=scontent.fvup1-1.fna&oh=00_AT-aY3sba6Ed8NVLf8TC6vF9IWL1c7qEDc_m2e3MT3HdAw&oe=628692E7">
                            <img src="https://scontent.fvup1-1.fna.fbcdn.net/v/t39.30808-6/277520413_4981488815267167_4628313742853594829_n.png?_nc_cat=100&ccb=1-6&_nc_sid=730e14&_nc_ohc=LwDv27IAZykAX82uoIe&_nc_pt=1&_nc_ht=scontent.fvup1-1.fna&oh=00_AT-aY3sba6Ed8NVLf8TC6vF9IWL1c7qEDc_m2e3MT3HdAw&oe=628692E7" alt="Gallery Images">
                        </a>
                        <div class="gallery-text">
                            <h3>Liga nacional de polo acuatico</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Gallery Area End -->

<!-- Trainers Area -->
<section class="trainers-area pb-70">
    <div class="container">
        <div class="section-title text-center mb-50">
            <span>Nuestros entrenadores</span>
            <h2>Contamos con entrenadores muy bien preparados</h2>
            <p>
                The introduced now, the they expect, animals the desk, and catch temple.
                More seven my couldn't it the character using recommended.
            </p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    <a href="#">
                        <img src="https://thumbs.dreamstime.com/z/instructor-de-nataci%C3%B3n-entrenador-personas-mujer-en-mano-cron%C3%B3metro-durante-las-competiciones-la-piscina-211217196.jpg" alt="Trainers Images">
                    </a>
                    <div class="trainer-content">
                        <a href="#">
                            <h3>Entrenador/a 1</h3>
                        </a>
                        <span>Professional Diver</span>
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    <a href="#">
                        <img src="https://enriqueplanellesswimsmooth.com/wp-content/uploads/2016/12/entrenador_natacion_enrique_planelles.jpg" alt="Trainers Images">
                    </a>
                    <div class="trainer-content">
                        <a href="#">
                            <h3>Entrenador/a 2</h3>
                        </a>
                        <span>Professional Trainer</span>
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    <a href="#">
                        <img src="https://media.istockphoto.com/photos/smiling-swim-coach-holding-stopwatch-near-poolside-picture-id676136326" alt="Trainers Images">
                    </a>
                    <div class="trainer-content active">
                        <a href="#">
                            <h3>Entrenador/a 3</h3>
                        </a>
                        <span>Professional Swimmer</span>
                        <div class="social-icon active">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-lg-3 col-sm-6">
                <div class="trainer-card">
                    <a href="#">
                        <img src="https://cdn.create.vista.com/api/media/small/116873426/stock-photo-pretty-trainer-writing-in-clipboard" alt="Trainers Images">
                    </a>
                    <div class="trainer-content">
                        <a href="#">
                            <h3>Entrenador/a 4</h3>
                        </a>
                        <span>Professional Instructor</span>
                        <div class="social-icon">
                            <ul>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-linkedin-in"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank">
                                        <i class="fas fa-envelope"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Trainers Area End -->


<!-- Jquery Min JS -->
<script src="../static/js/jquery-3.5.1.slim.min.js"></script>
<!-- Bootstrap Bundle Min JS -->
<script src="../static/js/bootstrap.bundle.min.js"></script>
<!-- Owl Carousel JS -->
<script src="../static/js/owl.carousel.min.js"></script>
<!-- Magnific Popup JS -->
<script src="../static/js/jquery.magnific-popup.min.js"></script>
<!-- Meanmenu JS -->
<script src="../static/js/meanmenu.js"></script>
<!-- Nice Select JS -->
<script src="../static/js/jquery.nice-select.min.js"></script>
<!-- Wow JS -->
<script src="../static/js/wow.min.js"></script>
<!-- Ajaxchimp Min JS -->
<script src="../static/js/jquery.ajaxchimp.min.js"></script>
<!-- Form Validator Min JS -->
<script src="../static/js/form-validator.min.js"></script>
<!-- Contact Form JS -->
<script src="../static/js/contact-form-script.js"></script>
<!-- Custom JS -->
<script src="../static/js/custom.js"></script>

</body>
{% endblock %}