<!doctype html>
<html>

<head>
    <title>{{ title }}</title>
    <meta charset="utf-8">
    <meta name="description" content="{{ description }}">

    <!-- Required Meta Tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/bootstrap.min.css')}}">
    <!-- Owl Carousel CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/owl.carousel.min.css')}}">
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/owl.theme.default.min.css')}}">
    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/magnific-popup.css')}}">
    <!-- Animate Min CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/animate.min.css')}}">
    <!-- Flaticon CSS --> 
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/fonts/flaticon.css')}}"> 
    <!-- Nice Select CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/nice-select.min.css')}}">
    <!-- Font Awesome CSS --> 
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/fontawesome.css')}}">
    <!-- Meanmenu CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/meanmenu.css')}}">
    <!-- Style CSS --> 
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/style.css')}}">
    <!-- Responsive CSS --> 
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/responsive.css')}}">
    
    
    
    <!-- Favicon -->
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='../static/img/favicon.ico')}}">

</head>

<body>
    {% include 'navigation.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
</body>

</html>