{% extends 'layout.html' %}

{% block content %}

<br>
<div class="container">
    {% if datos2 %}
    <table class="table">
        <thead class=" thead-dark">
            <tr>
                <th class=" col-md-1">Posicion</th>
                <th scope="col">Equipo</th>
                <th scope="col">Fecha</th>
                <th scope="col">Tiempo</th>
                <th scope="col">Nivel</th>
                <th scope="col">Pts. finales</th>
                <th scope="col">Fecha de nacimiento</th>
                <th scope="col">Nombre</th>
                <th scope="col">Competencia</th>
            </tr>
        </thead>
        <tbody>
            {% for fila in data.data %}
            <tr>
                {% for element in fila %}
                    <td scope="col">{{element}}</td>
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% endif %}
</div>
{% endblock %}