{% extends 'layout.html' %}

{% block content %}
<div class="mx-5 px-5">
<h1>{{titulo}}</h1>

<div class="autocomplete" style="width:300px;">
    <label for="Event">Para ver mas opciones escriba la prueba que desea</label>
    <input id="myInput" type="text" name="Event" placeholder="Competencia" onkeyup="myFunction()" value="100M Libre">
</div>
</div>
<div class="mx-5 px-5">
<table class="table table-striped" id="myTable">
    <thead>
    <tr class="">
        {%for item in columnas %}
        <th scope="col">{{item}}</th>
        {% endfor %}
    </tr>
</thead>
{% for element in data %}
<tr  scope="row">
    {% for item in element %}
    <td>{{item}}</td>
    {% endfor %}
</tr>
{% endfor %}
</table>
</div>

{% endblock %}
